#overview {
  position: relative;
  margin-bottom: 1em;
}

figcaption {
  height: 33.33%;
  width: 100%;

  display: inline-block;
  float: left;

  position: absolute;
  top: 33.33%;
  left: 0;

  vertical-align: middle;
  text-align: center;

  font-size: 10vmin;

  color: white;
  font-weight: 1000;
}

#mainbody .subsection {
  width: 100%;
}

#mainbody .subsection img {
  float: right;

  height: 20vh;
  width: auto;

  margin-left: 1em;
}

#mainbody .subsection p {
  min-height: 20vh;
}

@media (min-width: 761px) {
  #overview {
    position: relative;
    height: 200px;
  }

  figcaption {
    top: 10px;
  }

  #overview #icon {
    height: 80%;
    width: auto;

    clip: rect(40px, 160px, 160px, 0);

    position: absolute;
    bottom: 0;
    left: calc((100% - 160px)/2);
  }
}
