body {
  background-color: #cccccc;

  margin: 5vw;
  height: 90vh;
  width: 90vw;

  font-family: Avenir, Cambria, "Times New Roman", serif;
	font-size: 100%;
}

img {
  width: 100%;
}

input {
  width: 100%;
}

hr {
  width: 90%;
  border: 1px solid rgba(185, 185, 185, 1);
}

/*Header Desktop*/
@media (min-width: 761px) {
  header {
    position: relative;

    height: 100px;
    width: 90vw;

    margin-bottom: 2em;
    border-bottom: 1px solid rgba(185, 185, 185, 1);
  }

  #profile_mobile {
    display: none;
  }

  #title {
    display: inline-block;
    float: left;

    height: 100px;
    width: 45vw;
  }

  h1 {
    font-size: 3em;
  }

  header h3 {
    position: absolute;
    top: 50px;
    left: 10px;

    font-size: 1em;
  }

  #title_mobile {
    display: none;
  }

  #menu {
    display: inline-block;;
    float: left;

    height: 100px;
    width: 45vw;
  }

  #menu ul {
    list-style-type: none;

    margin-top: 50px;
    height: 50px;
    width: 45vw;
  }

  #menu li {
    display: inline;

    padding-right: 0.35em;
  }

  #menubutton {
    display: none;
  }
}

/* Header Mobile */
@media (max-width: 760px) {

  header {
    height: 15vw;
    width: 90vw;

    padding-bottom: 2.5vw;
    margin-bottom: 2.5vw;
    border-bottom: 1px solid rgba(185, 185, 185, 1);
  }

	#profile_mobile {
    display: inline-block;
    float: left;

    height: 15vw;
    width: 15vw;
  }

  #title_mobile {
    display: inline-block;
    float: left;

    margin-left: 5vw;

    height: 15vw;
    width: 60vw;

    font-size: 10vw;
  }

  #title {
    display: none;
  }

  #menu {
    display: none;
  }

  #menubutton {
    display: inline-block;
    float: left;

    height: 15vw;
    width: 10vw;
  }

  #menubutton #openmenubutton {
    margin-top: 2.5vw;
  }

  #menubutton #closemenubutton {
    margin-top: 2.5vw;

    display: none;
  }
}

/*Info and description sections Desktop*/
@media (min-width: 761px) {
  #info {
    display: inline-block;
    float: left;

    height: 70vh;
    width: 28vw;

    margin-right: 2vw;
  }

  footer {
    height: 8vw;
		width: 24vw;

		border-radius: 2vw;

		background-color: rgba(192, 192, 192, 1);

		position: relative;
		top: 50px;
		left: 1.5vw;
	}

  .container {
    position: relative;

    height: 8vw;
    width: 8vw;

    vertical-align: middle;
  }

	.contact {
		float: left;

    height: 8vw;
    width: 8vw;
	}

  .contact img {
    height: 4vw;
    width: 4vw;

    margin-top: 2vw;
    margin-left: 2vw;
  }

	.contact .overlay {
		position: absolute;
		top: 0;
		left: 0;

		height: 100%;
		width: 100%;

    border-radius: 2vw;

		opacity: 0;
		transition: .4s ease;

    background: grey;
	}

	.textOverlay {
		line-height: 70px;
    font-size: 1.25vw;
    text-align: center;
    opacity: 1;
    color: white;
	}

	.container:hover .overlay {
		opacity: 0.9;
	}


  #mainbody {
    display: inline-block;
    float: left;

    height: 70vh;
    width: 60vw;
  }

  #mainbody #description p {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

/*Info and description sections Mobile*/
@media (max-width: 760px) {
  #info {
    display: none;
  }

  #mainbody {
    position: relative;

    display: inline-block;
    float: left;

    height: 70vh;
    width: 90vw;
  }

  #mainbody #description p {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  h2 {
    font-size: 5vw;
  }
}

/* Main Body Desktop */
@media (min-width: 761px) {
  h2 {
    font-size: 2em;
  }

  #menuoverlay {
    display: none;
  }

  #bubblehome {
    height: 20vh;
    width: 60vw;
  }

  .bubble {
    display: inline-block;
    float: left;

    height: 20vh;
    width: 18vw;

    margin-left: 1vw;
    margin-right: 1vw;
  }

  .bubblecontainer {
    position: relative;

    height: 20vh;
    width: 18vw;

    text-align: center;
  }

  .bubblecontainer figure img {
    height: 16vh;
    width: 16vh;

    position: absolute;
    top: 0;
    left: calc((18vw - 16vh)/2);
  }

  .bubblecontainer .overlay {
      display: inline-block;

      opacity: 0;
  		transition: .4s ease;
  }

  .bubblecontainer:hover .overlay {
    opacity: 0.4;
  }

  .bubblecontainer figcaption {
    position: relative;
    top: 16vh;
  }

}

/* Main Body Mobile */
@media (max-width: 760px) {

  #menuoverlay {
  	width: 100%;
  	height: 100%;

  	position: absolute;
  	top: 0;
  	left: 0;

  	display: none;
  	z-index: 2;

  	text-align: center;
  	font-size: xx-large;

    background-color: rgba(140, 140, 140, 0.95);
    border-radius: 2vw;
  }

  #menuoverlay ul {
     	list-style-type: none;

     	position: absolute;

      height: 60vh;
      margin-top: 7vh;
      margin-bottom: 7vh;

     	width: 80vw;
     	margin-left: 5vw;
     	margin-right: 5vw;
  }

  #menuoverlay li {
  	border: solid 4px black;

  	height: auto;
  	padding: 2vh;

  	vertical-align: middle;

  	margin-bottom: 5vh;
  }

  #bubblehome {
    height: 20vmin;
    width: 90vw;

    margin-bottom: 1em;
    margin-top: 1em;
  }

  .bubble {
    display: inline-block;
    float: left;

    height: 20vmin;
    width: 28vw;

    margin-left: 1vw;
    margin-right: 1vw;
  }

  .bubblecontainer {
    position: relative;

    height: 20vmin;
    width: 28vw;

    text-align: center;
  }

  .bubblecontainer figure img {
    height: 20vmin;
    width: 20vmin;
    margin-bottom: 0;

    position: absolute;
    top: 0;
    left: calc((28vw - 20vmin)/2);
  }

  .bubblecontainer .overlay {
    display: none;
  }

  .bubblecontainer .overlay {
      display: inline-block;

      opacity: 0;
      transition: .4s ease;
  }

  .bubblecontainer:hover .overlay {
    opacity: 0.4;
  }

  .bubblecontainer figure figcaption {
    display: none;
  }
}


/* Non Structural Fun! */
a:visited {
	font-weight: bold;
	color: rgba(0, 0, 0, 0.78);
	text-decoration: none;
}

a:link {
	font-weight: bold;
	color: black;
	text-decoration: none;
}
a:hover {
	font-weight: bold;
	color: white;
}
