#overview {
  position: relative;
}

figcaption {
  height: 33.33%;
  width: 100%;

  display: inline-block;
  float: left;

  position: absolute;
  top: 33.33%;
  left: 0;

  vertical-align: middle;
  text-align: center;

  font-size: 10vmin;

  color: white;
  font-weight: 1000;
}

#bodytitle h2 {
  width: 100%;
  text-align: center;
}

/* Desktop Body */
@media (min-width: 761px) {
  #mainbody .subsection {
    display: inline-block;
    float: left;

    width: 48%;
    margin-right: 1%;
    margin-left: 1%;
  }

  #bodytitle h2 {
    margin-bottom: 1em;
  }

  #overview {
    margin-bottom: 40px;
    height: 160px;
  }

  figcaption {
    color: black;
    font-size: 2em;

    top: 160px;
  }

  #overview #icon {
    height: 95%;
    width: auto;


    position: absolute;
    bottom: 0;
    left: calc((100% - 160px)/2);
  }

  #toggle {
    display: block;
  }

  #toggle1 {
    display: block;
  }

  #toggle2 {
    display: block;
  }

  #toggle3 {
    display: block;
  }
  #toggle4 {
    display: block;
  }

  #toggle5 {
    display: block;
  }
}

/* Mobile body */
@media (max-width: 760px) {
  #mainbody .subsection {
    width: 100%;
  }

  #bodytitle h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 2.5vh;

    font-size: 80%;
    font-weight: lighter;
  }

  .subsection p {
    margin-top: 1em;
  }
}
